/* MEME STYLES */
.new-title-figure-slick {
  color: #2e81ff;
  font-family: Impact, Charcoal, sans-serif !important;
  font-size: 14px !important;
  margin: 2px 0 0;
  position: relative;
  max-width: 120px;
}

.new-title-figure-slick .bottom-caption-slick {
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  right: 0;
  margin: 5px;
  z-index: 9000;
  bottom: 0;
  overflow-wrap: break-word;
}

#thumbnailCarousel .slick-track {
  display: flex !important;
  justify-content: space-between !important;
}

#thumbnailCarousel .slick-track .slick-slide {
  width: auto !important;
}
